.menu__body {
	display: flex;
}

.menu__body form {
	position: relative;
	width: 447px;
	height: 45px;
	margin: 0 auto;
}

.menu__body input,
.menu__body button {
	border: none;
	outline: none;
	border-radius: 3px;
}

.menu__body input {
	width: 100%;
	height: 45px;
	background: #ffffff;
	border: 1px solid #cbcbcb;
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	padding-left: 15px;
}

.menu__body button {
	height: 39px;
	margin-top: 2px;
	width: 42px;
	position: absolute;
	right: 8.5px;
	cursor: pointer;
	background: #ffffff;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='43' viewBox='0 0 42 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.0104 26.1429C27.1439 25.9991 27.3024 25.8851 27.4769 25.8073C27.6514 25.7295 27.8385 25.6895 28.0274 25.6895C28.2163 25.6895 28.4034 25.7295 28.5779 25.8073C28.7524 25.8851 28.9109 25.9991 29.0444 26.1429L34.5788 32.0948C34.8485 32.3847 35.0002 32.7779 35.0003 33.188C35.0004 33.5981 34.8491 33.9915 34.5795 34.2815C34.31 34.5716 33.9443 34.7347 33.563 34.7348C33.1817 34.735 32.8159 34.5722 32.5462 34.2823L27.0118 28.3304C26.8782 28.1868 26.7721 28.0163 26.6998 27.8286C26.6274 27.641 26.5902 27.4398 26.5902 27.2366C26.5902 27.0335 26.6274 26.8323 26.6998 26.6446C26.7721 26.4569 26.8782 26.2864 27.0118 26.1429H27.0104Z' fill='%23929292'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.3438 28.5515C22.382 28.5515 23.4101 28.3315 24.3693 27.9042C25.3286 27.4769 26.2002 26.8506 26.9343 26.0611C27.6685 25.2715 28.2508 24.3342 28.6482 23.3026C29.0455 22.271 29.25 21.1653 29.25 20.0487C29.25 18.9321 29.0455 17.8265 28.6482 16.7948C28.2508 15.7632 27.6685 14.8259 26.9343 14.0364C26.2002 13.2468 25.3286 12.6205 24.3693 12.1932C23.4101 11.7659 22.382 11.546 21.3438 11.546C19.2469 11.546 17.2359 12.4418 15.7532 14.0364C14.2705 15.6309 13.4375 17.7936 13.4375 20.0487C13.4375 22.3038 14.2705 24.4665 15.7532 26.0611C17.2359 27.6556 19.2469 28.5515 21.3438 28.5515ZM30.6875 20.0487C30.6875 22.7138 29.7031 25.2697 27.9508 27.1542C26.1985 29.0387 23.8219 30.0974 21.3438 30.0974C18.8656 30.0974 16.489 29.0387 14.7367 27.1542C12.9844 25.2697 12 22.7138 12 20.0487C12 17.3836 12.9844 14.8277 14.7367 12.9432C16.489 11.0587 18.8656 10 21.3438 10C23.8219 10 26.1985 11.0587 27.9508 12.9432C29.7031 14.8277 30.6875 17.3836 30.6875 20.0487Z' fill='%23929292'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: center;
}

.menu__body button:before {
	color: #f9f0da;
	font-size: 20px;
	font-weight: bold;
}

.map {
	display: flex;
	position: relative;
	margin: auto;
	margin-top: 61px;
}

.events {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: azure;
	min-width: 578px;
	width: 845px;
	height: 90vh;
}

.events__content {
	height: 754px;
	width: 578px;
}

.box {
	display: flex;
	margin: 20px;
	width: 527px;
	height: 200px;
	background: #fffdfd;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
}

.box__left {
	position: relative;
	width: 225px;
	height: 200px;
	border-radius: 12px;
}
.box__left img {
	width: 245px;
	height: 200px;
	border-radius: 12px;
}
.box__rigth {
	padding-left: 30px;
}
.box__rigth p:first-child {
	width: 244px;
	margin-top: 15px;
	font-family: "Neometric-Bold";
	font-size: 14px;
	margin-bottom: 25px;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 5px;
	border-bottom: solid 2px #EAEAEA;
}

.box__rigth p:last-child {
	padding: 5px;
	padding-left: 20px;
	width: 258.82px;
	height: 124.63px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Lato";
	font-size: 13px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M14.4471 10.6162C13.8249 11.8774 12.9818 13.1337 12.1196 14.2619C11.3018 15.3254 10.4273 16.3442 9.5 17.3137C8.57266 16.3442 7.69819 15.3254 6.88038 14.2619C6.01825 13.1337 5.17513 11.8774 4.55288 10.6162C3.9235 9.34206 3.5625 8.14863 3.5625 7.125C3.5625 5.55028 4.18806 4.04005 5.30155 2.92655C6.41505 1.81306 7.92528 1.1875 9.5 1.1875C11.0747 1.1875 12.5849 1.81306 13.6984 2.92655C14.8119 4.04005 15.4375 5.55028 15.4375 7.125C15.4375 8.14863 15.0753 9.34206 14.4471 10.6162ZM9.5 19C9.5 19 16.625 12.2479 16.625 7.125C16.625 5.23533 15.8743 3.42306 14.5381 2.08686C13.2019 0.750667 11.3897 0 9.5 0C7.61033 0 5.79806 0.750667 4.46186 2.08686C3.12567 3.42306 2.375 5.23533 2.375 7.125C2.375 12.2479 9.5 19 9.5 19Z' fill='black'/%3e%3cpath d='M9.5 9.5C8.87011 9.5 8.26602 9.24978 7.82062 8.80438C7.37522 8.35898 7.125 7.75489 7.125 7.125C7.125 6.49511 7.37522 5.89102 7.82062 5.44562C8.26602 5.00022 8.87011 4.75 9.5 4.75C10.1299 4.75 10.734 5.00022 11.1794 5.44562C11.6248 5.89102 11.875 6.49511 11.875 7.125C11.875 7.75489 11.6248 8.35898 11.1794 8.80438C10.734 9.24978 10.1299 9.5 9.5 9.5ZM9.5 10.6875C10.4448 10.6875 11.351 10.3122 12.0191 9.64407C12.6872 8.97597 13.0625 8.06983 13.0625 7.125C13.0625 6.18017 12.6872 5.27403 12.0191 4.60593C11.351 3.93783 10.4448 3.5625 9.5 3.5625C8.55517 3.5625 7.64903 3.93783 6.98093 4.60593C6.31283 5.27403 5.9375 6.18017 5.9375 7.125C5.9375 8.06983 6.31283 8.97597 6.98093 9.64407C7.64903 10.3122 8.55517 10.6875 9.5 10.6875Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3crect width='19' height='19' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: auto;
}

.map__yandex {
	height: 90vh;
	width: 100%;
}

.place1 {
	width: 22px;
	height: 22px;
	vertical-align: middle;
}
