@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	list-style-type: none;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*---------------------------------*/
@font-face {
	font-family: "Neometric";
	src: url("../fonts/Neometric-Medium.eot");
	src: local("☺"), url("../fonts/Neometric-Medium.woff") format("woff"),
		url("../fonts/Neometric-Medium.ttf") format("truetype"), url("../fonts/Neometric-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Neometric-Bold";
	src: local("../fonts/Neometric Bold"), local("../fonts/Neometric-Bold"),
		url("../fonts/Neometric-Bold.woff2") format("woff2"), url("../fonts/Neometric-Bold.woff") format("woff"),
		url("../fonts/Neometric-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoRegular.eot");
	src: local("☺"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype"),
		url("../fonts/LatoRegular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: white;
	font-size: 14px;
	color: black;
	min-width: 1516px;
	margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.wrapper {
	width: 100%;
}
/*Хэдер*/
.header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100vw;
	display: flex;
	padding-top: 5px;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	background-color: white;
}

.logo-container {
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__logo img {
	width: 45px;
	height: 45px;
	border-radius: 9px;
	margin-right: 5px;
}

.header__text {
	font-family: "Neometric";
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.menu__body {
	flex: 1 1 auto;
}

.menu__list {
	margin: auto;
	display: flex;
	justify-content: center;
}

.menu__list li {
	margin: 0px 10px;
}

.menu__list a:after {
	display: block;
	/*превращаем его в блочный элемент*/
	content: "";
	/*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
	height: 2px;
	/*задаём высоту линии*/
	width: 0%;
	/*задаём начальную ширину элемента (линии)*/
	background-color: black;
	/*цвет фона элемента*/
	transition: width 0.4s ease-in-out;
	/*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.menu__list a:hover:after,
.menu__list a:focus:after {
	width: 100%;
}

.menu__list a:hover {
	color: black;
}

.menu__link {
	font-family: "Lato";
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.actions-header__user {
	width: 92px;
	height: 33px;
	background: #ffffff;
	border: 0.5px solid #000000;
	border-radius: 10px;
	margin-right: 35px;
	cursor: pointer;
}

.user-header__icon img {
	margin: 3.5px;
	width: 26.8px;
	height: 24.76px;
}

.user-header__menu {
	border-radius: 10px;
	right: 35.5px;
	top: 50px;
	position: absolute;
	background-color: white;
	cursor: pointer;
	border: 1px solid black;
	z-index: 50;
}

.user-header__menu li {
	margin: 25px;
}

.user-header__menu li:nth-child(1) {
	margin: 25px;
	font-family: "Nunito";
	font-weight: 700;
}

.user-header__menu li:nth-child(1) a {
	margin-left: 20px;
}

.user-header__logo {
	vertical-align: middle;
	border-radius: 69px;
	width: 40px;
	height: 40px;
}

.user-header__link {
	margin: 25px;
	font-family: "Nunito";
	color: #000;
}
/*Глаывный экран*/
.slogan {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: auto;
	margin-top: 61px;
	text-align: center;
	background-image: url("../img/main-background.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.slogan__top {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: white;
	padding-top: 65px;
	margin-bottom: 60px;
}

.slogan__center {
	font-family: "Lato";
	font-size: 24px;
	font-weight: 500;
	color: white;
	margin-bottom: 60px;
}

.slogan__list {
	color: white;
	font-family: "Lato";
	font-size: 36px;
	font-weight: 600;
	filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
	min-width: 578px;
	min-height: 86px;
	background-color: #589bcc;
	border-radius: 18px;
	margin-bottom: 100px;
}

.slogan__link:hover {
	transition: 0.5s;
	background-color: #589bcc;
	filter: drop-shadow(0px 0px 13px #589bcc);
}

.slogan__link:not(:hover) {
	transition: 0.5s;
}
.score-container {
	display: flex;
}
.score {
	margin-left: 80px;
}
.score h2:first-child {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	color: #b9daff;
}
.score h2:last-child {
	font-family: "Lato";
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #e1dede;
}
/*Для кого*/
.for-who {
	padding-top: 100px;
}
.for-who__top {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #000000;
}
.for-who__down {
	padding-top: 50px;
	display: flex;
	width: 1086px;
	margin: auto;
	justify-content: space-between;
}
.natural {
	width: 377px;
	height: 436.26px;
}
.natural__img img {
	width: 370.7px;
	height: 308.91px;
	margin-bottom: 30px;
}
.natural__text {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}
.legal-entity {
	width: 570px;
	height: 436px;
}
.legal-entity__img img {
	width: 570px;
	height: 339.2px;
}
.legal-entity__text {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}
/*Вопросы*/
.questions {
	margin: auto;
	width: 100vw;
	padding-top: 61px;
	padding-right: 61px;
	font-family: "Lato";
	color: #ffffff;
	background-color: #71aff8;
	padding: 70px 250px 30px 250px;
}
.questions__text {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
	color: rgba(255, 255, 255, 0.7);
	font-size: 64px;
	padding: 70px 0px 30px 100px;
}
.questions__question {
	width: auto;
	padding-left: 100px;
}
.question {
	transition: max-height 0.2s ease-out;
}
.question h4 {
	color: #ffffff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	font-size: 15px;
	transition: 0.4s;
	font-family: "Lato";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	background-color: #71aff8;
	line-height: 29px;
}
.question p {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.07em;
	color: #ffffff;
	padding-bottom: 40px;
	padding: 0 20px;
	overflow: hidden;

	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.question header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn {
	background: transparent;
	border-color: transparent;
	width: 44px;
	height: 44px;
	background: rgba(255, 255, 255, 0.53);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: #ffffff;
	cursor: pointer;
	align-self: center;
}

.question-title {
	cursor: pointer;
}
.example-enter {
	opacity: 0.01;
}

.example-enter.example-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
}

.example-leave {
	opacity: 1;
}

.example-leave.example-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}