@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	list-style-type: none;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*---------------------------------*/
@font-face {
	font-family: "Neometric";
	src: url("../fonts/Neometric-Medium.eot");
	src: local("☺"), url("../fonts/Neometric-Medium.woff") format("woff"),
		url("../fonts/Neometric-Medium.ttf") format("truetype"), url("../fonts/Neometric-Medium.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Neometric-Bold";
	src: local("../fonts/Neometric Bold"), local("../fonts/Neometric-Bold"),
		url("../fonts/Neometric-Bold.woff2") format("woff2"), url("../fonts/Neometric-Bold.woff") format("woff"),
		url("../fonts/Neometric-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoRegular.eot");
	src: local("☺"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype"),
		url("../fonts/LatoRegular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: white;
	font-size: 14px;
	color: black;
	min-width: 1516px;
	margin: auto;
}

.wrapper {
	width: 1029px;
	margin: auto;
}

.header__container {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 1029px;
	display: flex;
	padding-top: 5px;
	align-items: center;
	justify-content: space-between;
	background-color: white;
}

.header__logo img {
	width: 45px;
	height: 45px;
	border-radius: 9px;
	margin-right: 5px;
}

.header__text {
	margin-left: -220px;
	font-family: "Neometric";
	font-size: 22px;
	font-weight: 700;
	color: #000;
}

.menu__body {
	flex: 1 1 auto;
}

.menu__list {
	display: flex;
	justify-content: center;
}

.menu__list li {
	margin: 0px 10px;
}

.menu__list a:after {
	display: block;
	/*превращаем его в блочный элемент*/
	content: "";
	/*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
	height: 2px;
	/*задаём высоту линии*/
	width: 0%;
	/*задаём начальную ширину элемента (линии)*/
	background-color: black;
	/*цвет фона элемента*/
	transition: width 0.4s ease-in-out;
	/*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}

.menu__list a:hover:after,
.menu__list a:focus:after {
	width: 100%;
}

.menu__list a:hover {
	color: black;
}

.menu__link {
	font-family: "Lato";
	font-size: 18px;
	font-weight: 500;
	color: #000;
}

.actions-header__user {
	width: 92px;
	height: 33px;
	background: #ffffff;
	border: 0.5px solid #000000;
	border-radius: 10px;
}

.user-header {
	cursor: pointer;
}

.user-header__icon img {
	margin: 3.5px;
	width: 26.8px;
	height: 24.76px;
}

.user-header__menu {
	border-radius: 10px;
	right: 0px;
	top: 50px;
	position: absolute;
	background-color: white;
	cursor: pointer;
	border: 1px solid black;
	z-index: 50;
}

.user-header__menu li {
	margin: 25px;
}

.user-header__menu li:nth-child(1) {
	margin: 25px;
	font-family: "Nunito";
	font-weight: 700;
}

.user-header__menu li:nth-child(1) a {
	margin-left: 20px;
}

.user-header__logo {
	vertical-align: middle;
	border-radius: 69px;
}

.user-header__link {
	margin: 25px;
	font-family: "Nunito";
	color: #000;
}

.slogan {
	position: relative;
	width: 1029px;
	margin: auto;
	margin-top: 61px;
	text-align: center;
}

.slogan__top {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #767664;
	margin-bottom: 60px;
}

.slogan__center {
	font-family: "Lato";
	font-size: 24px;
	font-weight: 500;
	color: #767664;
	margin-bottom: 60px;
}

.slogan__list {
	color: white;
	font-family: "Lato";
	font-size: 36px;
	font-weight: 600;
	filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
	min-width: 578px;
	min-height: 86px;
	background-color: #589bcc;
	border-radius: 18px;
	margin-bottom: 60px;
}

.slogan__link:hover {
	transition: 0.5s;
	background-color: #589bcc;
	filter: drop-shadow(0px 0px 13px #589bcc);
}

.slogan__link:not(:hover) {
	transition: 0.5s;
}

.for-who {
	margin: auto;
	width: 1029px;
	padding-top: 61px;
	padding-right: 61px;
	font-family: "Lato";
	color: #ffffff;
	background-color: #71aff8;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg margin='61px' width='157' height='109' viewBox='0 0 157 109' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M77.9676 54.512C77.9676 63.68 76.9836 71.624 75.0156 78.344C73.0476 85.064 70.3116 90.632 66.8076 95.048C63.3516 99.464 59.2236 102.752 54.4236 104.912C49.6716 107.072 44.5116 108.152 38.9436 108.152C33.3756 108.152 28.2156 107.072 23.4636 104.912C18.7596 102.752 14.6796 99.464 11.2236 95.048C7.7676 90.632 5.0556 85.064 3.0876 78.344C1.1676 71.624 0.207599 63.68 0.207599 54.512C0.207599 45.344 1.1676 37.4 3.0876 30.68C5.0556 23.96 7.7676 18.392 11.2236 13.976C14.6796 9.56 18.7596 6.29599 23.4636 4.18399C28.2156 2.024 33.3756 0.943996 38.9436 0.943996C44.5116 0.943996 49.6716 2.024 54.4236 4.18399C59.2236 6.29599 63.3516 9.56 66.8076 13.976C70.3116 18.392 73.0476 23.96 75.0156 30.68C76.9836 37.4 77.9676 45.344 77.9676 54.512ZM54.9276 54.512C54.9276 47.264 54.4716 41.336 53.5596 36.728C52.6476 32.072 51.4236 28.424 49.8876 25.784C48.3996 23.144 46.6956 21.344 44.7756 20.384C42.8556 19.376 40.9116 18.872 38.9436 18.872C36.9756 18.872 35.0316 19.376 33.1116 20.384C31.2396 21.344 29.5596 23.144 28.0716 25.784C26.6316 28.424 25.4556 32.072 24.5436 36.728C23.6796 41.336 23.2476 47.264 23.2476 54.512C23.2476 61.808 23.6796 67.76 24.5436 72.368C25.4556 76.976 26.6316 80.624 28.0716 83.312C29.5596 85.952 31.2396 87.776 33.1116 88.784C35.0316 89.744 36.9756 90.224 38.9436 90.224C40.9116 90.224 42.8556 89.744 44.7756 88.784C46.6956 87.776 48.3996 85.952 49.8876 83.312C51.4236 80.624 52.6476 76.976 53.5596 72.368C54.4716 67.76 54.9276 61.808 54.9276 54.512ZM156.531 90.872V107H96.7708V90.872H116.931V37.952C116.931 36.608 116.955 35.264 117.003 33.92C117.051 32.528 117.123 31.136 117.219 29.744L105.267 39.68C104.211 40.496 103.155 41 102.099 41.192C101.091 41.336 100.131 41.336 99.2189 41.192C98.3068 41 97.4908 40.688 96.7708 40.256C96.0508 39.776 95.5228 39.296 95.1868 38.816L88.1308 29.456L120.819 2.024H139.251V90.872H156.531Z' fill='white' fill-opacity='0.1'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: 61px 61px;
}

.for-who__text {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 759 589' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M480.177 587.502C480.177 587.502 468.543 558.881 503.443 537.415L480.177 587.502Z' fill='%23E6E6E6'/%3e%3cpath d='M465.869 586.981C465.869 586.981 462.321 566.581 434.854 566.756L465.869 586.981Z' fill='%23E6E6E6'/%3e%3cpath d='M728.262 587.502C728.262 587.502 712.892 549.689 759 521.33L728.262 587.502Z' fill='%23E6E6E6'/%3e%3cpath d='M709.36 586.814C709.36 586.814 704.672 559.863 668.384 560.094L709.36 586.814Z' fill='%23E6E6E6'/%3e%3cpath d='M440.803 163.725L425.624 155.667L426.76 155.063L441.938 163.122L440.803 163.725Z' fill='%23CBCBCB'/%3e%3cpath d='M427.562 163.725L426.428 163.122L441.605 155.063L442.741 155.667L427.562 163.725Z' fill='%23CBCBCB'/%3e%3cpath d='M314.592 101.262L313.859 102.691L318.147 104.887L318.88 103.458L314.592 101.262Z' fill='%23CBCBCB'/%3e%3cpath d='M403.492 148.598L394.957 144.227L395.69 142.798L404.224 147.169L403.492 148.598ZM386.423 139.856L377.888 135.484L378.621 134.056L387.155 138.427L386.423 139.856ZM369.354 131.113L360.82 126.742L361.552 125.314L370.086 129.685L369.354 131.113ZM352.285 122.371L343.751 118L344.483 116.572L353.018 120.943L352.285 122.371ZM335.216 113.629L326.682 109.258L327.414 107.829L335.949 112.2L335.216 113.629Z' fill='%23CBCBCB'/%3e%3cpath d='M412.759 151.54L412.026 152.969L416.314 155.165L417.046 153.736L412.759 151.54Z' fill='%23CBCBCB'/%3e%3cpath d='M89.0072 208.722C89.0072 209.223 88.9909 209.72 88.9584 210.213C88.7761 213.057 88.0574 215.84 86.8402 218.416C86.8308 218.438 86.8197 218.459 86.8104 218.479C86.7537 218.599 86.6955 218.718 86.6357 218.836C86.2737 219.565 85.8721 220.273 85.4327 220.958C83.4257 224.102 80.6747 226.703 77.423 228.532C74.1712 230.361 70.5187 231.361 66.7884 231.445L67.0133 244.371L69.9461 242.827L70.4698 243.822L67.0353 245.63L67.4552 269.637L67.4599 269.958L65.1922 270.462L65.1969 270.14L65.9109 231.446C62.9083 231.403 59.9442 230.764 57.1906 229.567C54.4371 228.369 51.9489 226.637 49.8707 224.471C49.7276 224.323 49.5861 224.171 49.4477 224.02L49.4319 224.002C47.7004 222.115 46.3 219.949 45.2898 217.596C45.3118 217.621 45.3354 217.644 45.3575 217.67C43.0744 212.333 42.9195 206.327 44.9246 200.88C46.9298 195.433 50.943 190.96 56.1421 188.375C56.2207 188.336 56.3009 188.298 56.3796 188.259C61.5223 185.783 67.4081 185.329 72.8702 186.986C78.3323 188.643 82.9721 192.291 85.8699 197.207C86.0083 197.439 86.142 197.677 86.2709 197.916C88.071 201.233 89.0116 204.948 89.0072 208.722Z' fill='%23E5E5E5'/%3e%3cpath d='M85.946 218.491C102.408 218.491 115.752 205.154 115.752 188.7C115.752 172.247 102.408 158.909 85.946 158.909C69.4844 158.909 56.1397 172.247 56.1397 188.7C56.1397 205.154 69.4844 218.491 85.946 218.491Z' fill='%23E5E5E5'/%3e%3cpath opacity='0.2' d='M63.938 168.802C61.1577 175.302 60.7805 182.579 62.8739 189.331C64.9672 196.084 69.3947 201.873 75.365 205.663C81.3354 209.453 88.4597 210.998 95.4647 210.022C102.47 209.045 108.899 205.611 113.604 200.332C111.906 204.304 109.364 207.858 106.154 210.75C102.945 213.642 99.1449 215.802 95.0174 217.081C90.8899 218.359 86.5337 218.725 82.2505 218.154C77.9674 217.582 73.8597 216.087 70.2122 213.771C66.5646 211.456 63.4644 208.375 61.1262 204.743C58.7881 201.111 57.2679 197.014 56.6711 192.737C56.0743 188.459 56.4151 184.103 57.6699 179.97C58.9246 175.838 61.0634 172.027 63.938 168.802Z' fill='black'/%3e%3cpath d='M87.5584 271.693L84.5143 270.84L84.5207 270.512L85.433 220.958L85.4786 218.487L85.4795 218.415L85.6391 209.757L85.8699 197.208V197.207L86.0268 188.701H86.1107L86.2713 197.916L86.4802 209.91L86.6298 218.421V218.483L86.6362 218.834V218.836L86.9254 235.426L86.9555 237.074L87.553 271.363L87.5584 271.693Z' fill='%233F3D56'/%3e%3cpath d='M90.7685 233.403L85.8414 235.996L86.528 237.299L91.4551 234.707L90.7685 233.403Z' fill='%233F3D56'/%3e%3cpath d='M472.324 92.2855C434.703 90.0625 396.969 90.6422 359.435 94.0199C341.344 95.6543 322.965 97.4197 305.208 101.364C290.906 104.541 274.306 109.91 265.395 122.417C263.529 124.937 262.271 127.854 261.72 130.941C261.169 134.027 261.34 137.199 262.22 140.209C264.345 147.338 269.631 153.273 275.26 157.921C288.216 168.619 304.291 174.844 318.65 183.343C344.868 198.861 368.862 219.777 384.263 246.347C391.04 258.039 397.487 273.585 389.941 286.468C382.548 299.089 366.044 303.438 352.585 305.488C335.716 308.058 318.339 307.361 301.399 305.922C282.828 304.191 264.36 301.487 246.072 297.822C210.244 290.946 174.743 282.2 138.417 278.222C120.203 276.081 101.836 275.55 83.5287 276.636C66.9952 277.75 50.32 280.364 34.788 286.323C22.8192 290.914 10.0611 297.861 3.59605 309.447C-2.63598 320.615 -0.205292 333.494 6.58061 343.798C14.7454 356.196 27.4773 364.691 40.7143 370.901C55.7858 377.971 71.9062 382.553 88.0471 386.451C96.2334 388.427 104.464 390.214 112.695 391.992C114.412 392.363 115.146 389.727 113.423 389.354C96.8236 385.769 80.1765 382.173 63.9897 376.983C49.0104 372.181 33.6812 366.029 21.4146 355.945C11.4908 347.787 2.0554 335.871 2.64114 322.323C3.23162 308.665 14.6966 299.129 25.9338 293.259C39.9772 285.924 55.9324 282.351 71.5667 280.484C89.4683 278.49 107.522 278.244 125.471 279.751C161.711 282.507 197.141 290.758 232.673 297.955C267.191 304.946 302.787 311.42 338.162 309.627C352.183 308.916 367.206 306.908 379.586 299.835C385.254 296.596 390.366 292.029 393.246 286.085C395.842 280.43 396.663 274.121 395.6 267.991C393.593 254.524 385.59 242.037 377.605 231.311C368.852 219.676 358.699 209.164 347.374 200.011C334.946 190.014 321.545 181.289 307.374 173.967C299.859 170.012 292.237 166.209 285.075 161.629C278.208 157.237 271.434 151.952 267.24 144.823C263.614 138.656 262.948 131.618 266.726 125.364C270.547 119.038 277.13 114.626 283.622 111.402C299.263 103.635 317.447 101.556 334.56 99.4251C371.304 94.8662 408.335 93.0209 445.351 93.9039C454.348 94.1155 463.339 94.4878 472.324 95.0208C474.083 95.1242 474.077 92.3886 472.324 92.2855V92.2855Z' fill='black'/%3e%3cpath d='M448.458 4.60635L454.141 0.0636202C449.726 -0.423189 447.912 1.98323 447.17 3.88792C443.721 2.45654 439.967 4.33243 439.967 4.33243L451.337 8.45803C450.763 6.92673 449.765 5.59062 448.458 4.60635Z' fill='%233F3D56'/%3e%3cpath d='M420.88 18.9878L426.562 14.4451C422.148 13.9583 420.334 16.3647 419.591 18.2694C416.143 16.838 412.388 18.7139 412.388 18.7139L423.758 22.8395C423.184 21.3082 422.186 19.9721 420.88 18.9878Z' fill='%233F3D56'/%3e%3cpath d='M448.458 41.7585L454.141 37.2158C449.726 36.729 447.912 39.1354 447.17 41.0401C443.721 39.6087 439.967 41.4846 439.967 41.4846L451.337 45.6102C450.763 44.0789 449.765 42.7428 448.458 41.7585Z' fill='%233F3D56'/%3e%3cpath d='M363.266 48.489C372.722 48.489 380.387 40.8275 380.387 31.3765C380.387 21.9256 372.722 14.2641 363.266 14.2641C353.811 14.2641 346.145 21.9256 346.145 31.3765C346.145 40.8275 353.811 48.489 363.266 48.489Z' fill='%23FF6583'/%3e%3cpath d='M416.955 84.1079H332.964C332.858 84.1092 332.753 84.1009 332.65 84.083L372.375 15.3139C372.617 14.8855 372.969 14.5291 373.394 14.2811C373.819 14.0331 374.303 13.9025 374.795 13.9025C375.288 13.9025 375.771 14.0331 376.196 14.2811C376.622 14.5291 376.973 14.8855 377.216 15.3139L403.875 61.4617L405.151 63.6696L416.955 84.1079Z' fill='white'/%3e%3cpath d='M463.718 84.1087H391.074L405.15 63.672L406.162 62.1993L424.506 35.5668C424.83 35.1593 425.237 34.8246 425.699 34.5845C426.161 34.3444 426.669 34.2043 427.189 34.1733C427.709 34.1422 428.23 34.221 428.717 34.4044C429.205 34.5878 429.648 34.8717 430.019 35.2377C430.114 35.3417 430.202 35.4516 430.283 35.5668L463.718 84.1087Z' fill='white'/%3e%3cpath d='M343.887 241.832C351.848 245.809 356.695 251.062 356.695 256.823C356.695 269.234 334.226 279.295 306.509 279.295C294.458 279.295 283.403 277.391 274.752 274.222C283.94 278.812 297.279 281.703 312.13 281.703C339.847 281.703 362.316 271.641 362.316 259.231C362.316 252.215 355.134 245.953 343.887 241.832Z' fill='%23F1F1F1'/%3e%3cpath d='M361.595 250.357C370.579 254.844 376.048 260.772 376.048 267.272C376.048 281.277 350.694 292.629 319.419 292.629C305.821 292.629 293.346 290.482 283.584 286.905C293.953 292.085 309.004 295.346 325.761 295.346C357.036 295.346 382.39 283.994 382.39 269.989C382.39 262.074 374.287 255.007 361.595 250.357Z' fill='%23F1F1F1'/%3e%3cpath d='M337.11 245.587C342.719 248.389 346.134 252.09 346.134 256.148C346.134 264.892 330.303 271.981 310.776 271.981C303.168 272.079 295.6 270.87 288.402 268.406C294.876 271.64 304.273 273.677 314.736 273.677C334.263 273.677 350.094 266.589 350.094 257.845C350.094 252.902 345.034 248.49 337.11 245.587Z' fill='%23F1F1F1'/%3e%3cpath d='M258.302 243.982C258.302 243.982 259.535 261.988 294.866 261.988C330.197 261.988 340.745 243.982 340.745 243.982H258.302Z' fill='%233F3D56'/%3e%3cpath d='M308.451 196.738C303.35 192.865 296.948 191.115 290.586 191.854C296.272 193.224 301.293 196.552 304.769 201.254C308.245 205.955 309.953 211.731 309.593 217.565C309.234 223.4 306.829 228.922 302.802 233.162C298.776 237.402 293.383 240.089 287.572 240.751C293.131 242.092 298.982 241.48 304.142 239.016C309.302 236.553 313.456 232.389 315.906 227.225C318.356 222.06 318.952 216.21 317.594 210.658C316.237 205.106 313.008 200.191 308.451 196.738Z' fill='%233F3D56'/%3e%3cpath d='M296.873 188.604H294.464V245.916H296.873V188.604Z' fill='%233F3D56'/%3e%3cpath d='M455.187 146.022L455.174 146L455.142 144.6L462.688 133.648L455.151 143.552L455.124 143.848L454.866 132.654L461.384 121.3L454.847 130.687L454.915 107.497L454.915 107.42L454.913 107.496L454.48 125.773L448.539 118.349L454.461 127.347L454.331 137.36L448.864 127.588L454.311 138.832L454.239 144.4L454.039 159.824L454.025 160.977C454.528 160.98 455.026 160.972 455.52 160.952L455.178 146.136L455.187 146.022Z' fill='%23CBCBCB'/%3e%3cpath d='M419.053 150.837L419.04 150.815L419.008 149.415L426.554 138.463L419.017 148.367L418.99 148.663L418.732 137.469L425.25 126.115L418.713 135.503L418.781 112.312L418.781 112.235L418.779 112.311L418.346 130.588L412.405 123.164L418.327 132.163L418.197 142.175L412.73 132.404L418.177 143.647L418.105 149.215L417.905 164.639L417.89 165.792C418.394 165.796 418.892 165.788 419.385 165.767L419.044 150.951L419.053 150.837Z' fill='%23CBCBCB'/%3e%3cpath d='M436.719 135.588L436.706 135.566L436.673 134.166L444.22 123.215L436.682 133.118L436.655 133.414L436.397 122.22L442.915 110.866L436.379 120.254L436.447 97.0634L436.446 96.9862L436.445 97.0621L436.012 115.339L430.071 107.915L435.992 116.914L435.863 126.927L430.396 117.155L435.843 128.399L435.77 133.966L435.571 149.391L435.556 150.543C436.06 150.547 436.558 150.539 437.051 150.518L436.709 135.703L436.719 135.588Z' fill='%23CBCBCB'/%3e%3cpath d='M138.285 402.088C143.606 402.088 147.92 397.776 147.92 392.457C147.92 387.138 143.606 382.827 138.285 382.827C132.963 382.827 128.649 387.138 128.649 392.457C128.649 397.776 132.963 402.088 138.285 402.088Z' fill='white'/%3e%3cpath d='M652.607 570.235L643.687 573.547L626.657 540.733L639.823 535.844L652.607 570.235Z' fill='%23FFB7B7'/%3e%3cpath d='M658.095 578.032L629.331 588.714L629.196 588.35C628.093 585.383 628.214 582.098 629.534 579.22C630.853 576.342 633.262 574.105 636.232 573.003L636.232 573.002L653.8 566.478L658.095 578.032Z' fill='%232F2E41'/%3e%3cpath d='M564.817 579.494L555.301 579.493L550.774 542.805L564.819 542.806L564.817 579.494Z' fill='%23FFB7B7'/%3e%3cpath d='M566.468 588.714L535.783 588.713V588.325C535.783 585.159 537.042 582.123 539.282 579.884C541.521 577.645 544.559 576.388 547.727 576.388H547.727L566.469 576.388L566.468 588.714Z' fill='%232F2E41'/%3e%3cpath d='M608.387 325.048L605.282 318.842L578.89 332.031L579.666 337.462L574.621 344.056C574.621 344.056 566.082 348.711 567.635 364.228L569.187 378.969L571.128 397.977L557.544 444.916L550.558 506.983L545.512 557.025L569.963 555.861L592.474 474.398L632.062 562.068L659.23 555.085L621.971 468.191L617.314 431.726C617.314 431.726 620.419 412.33 605.67 399.141L607.999 392.159V383.554L615.761 342.505L608.387 325.048Z' fill='%232F2E41'/%3e%3cpath opacity='0.2' d='M609.112 413.758L592.035 474.274L592.913 474.521L609.99 414.006L609.112 413.758Z' fill='black'/%3e%3cpath d='M607.611 397.977H569.575V401.856H607.611V397.977Z' fill='%233F3D56'/%3e%3cpath d='M569.575 404.184C570.433 404.184 571.128 402.447 571.128 400.305C571.128 398.162 570.433 396.426 569.575 396.426C568.718 396.426 568.023 398.162 568.023 400.305C568.023 402.447 568.718 404.184 569.575 404.184Z' fill='%233F3D56'/%3e%3cpath d='M596.652 315.014C606.679 309.536 610.364 296.971 604.883 286.949C599.402 276.927 586.83 273.244 576.803 278.722C566.776 284.201 563.091 296.766 568.573 306.788C574.054 316.81 586.625 320.493 596.652 315.014Z' fill='%23FFB7B7'/%3e%3cpath d='M618.39 289.486C628.499 289.486 636.694 281.295 636.694 271.19C636.694 261.086 628.499 252.895 618.39 252.895C608.28 252.895 600.085 261.086 600.085 271.19C600.085 281.295 608.28 289.486 618.39 289.486Z' fill='%232F2E41'/%3e%3cpath d='M641.619 269.231C642.341 271.655 642.552 274.202 642.239 276.712C641.927 279.222 641.097 281.64 639.802 283.813C638.507 285.986 636.775 287.867 634.717 289.337C632.658 290.808 630.316 291.835 627.84 292.356C625.364 292.876 622.806 292.878 620.329 292.36C617.852 291.843 615.51 290.818 613.449 289.35C611.388 287.882 609.655 286.003 608.357 283.831C607.06 281.66 606.227 279.243 605.911 276.734C607.223 281.135 610.142 284.882 614.09 287.232C618.038 289.581 622.725 290.361 627.222 289.416C631.718 288.471 635.695 285.871 638.362 282.132C641.029 278.392 642.191 273.787 641.619 269.231Z' fill='%232F2E41'/%3e%3cpath d='M569.305 291.127C568.768 295.856 569.806 300.63 572.259 304.709C574.712 308.789 578.442 311.946 582.873 313.691C587.303 315.436 592.185 315.672 596.763 314.363C601.341 313.053 605.359 310.271 608.195 306.448C611.031 302.624 612.525 297.972 612.448 293.213C612.37 288.455 610.724 283.854 607.765 280.125C604.806 276.396 600.699 273.747 596.08 272.587C591.462 271.428 586.59 271.824 582.219 273.712C578.604 270.799 574.123 271.702 570.479 274.777C566.359 278.254 565.136 280.642 561.941 286.36C565.083 286.801 566.163 290.686 569.305 291.127Z' fill='%232F2E41'/%3e%3cpath d='M645.361 353.319C645.129 359.448 644.67 371.511 644.67 372.127C644.67 372.776 635.52 391.712 631.567 399.862V399.866C631.286 400.44 631.034 400.961 630.81 401.42C630.505 402.052 630.024 402.584 629.425 402.952C628.827 403.319 628.135 403.508 627.432 403.494L610.157 403.184C609.208 403.168 608.301 402.786 607.627 402.118C606.953 401.449 606.563 400.546 606.539 399.597L604.612 323.634C604.606 323.383 604.65 323.134 604.741 322.901C604.833 322.668 604.97 322.455 605.145 322.275C605.32 322.096 605.529 321.953 605.76 321.856C605.991 321.758 606.239 321.708 606.489 321.708H628.768C629.709 321.708 630.631 321.974 631.428 322.474C632.225 322.974 632.865 323.688 633.275 324.535L643.967 346.645C644.97 348.723 645.448 351.014 645.361 353.319V353.319Z' fill='white'/%3e%3cpath d='M606.239 394.384C601.806 391.7 597.823 388.335 594.435 384.414C586.563 375.565 581.776 364.403 580.792 352.604C579.914 342.509 581.918 335.005 586.749 330.3C592.89 324.32 601.248 325.189 601.601 325.229L601.975 325.271L607.638 330.06L606.036 331.953L600.969 327.668C599.418 327.59 593.086 327.574 588.46 332.096C584.203 336.258 582.454 343.086 583.264 352.389C584.2 363.624 588.747 374.254 596.224 382.694C599.45 386.423 603.232 389.634 607.436 392.213L606.239 394.384Z' fill='white'/%3e%3cpath d='M638.385 365.525L608.201 371.721L608.367 372.531L638.552 366.334L638.385 365.525Z' fill='%233F3D56'/%3e%3cpath d='M618.491 321.691L617.664 321.725L619.625 369.73L620.451 369.696L618.491 321.691Z' fill='%233F3D56'/%3e%3cpath d='M645.361 353.319C645.129 359.448 644.67 371.511 644.67 372.127C644.67 372.776 635.52 391.712 631.567 399.862L638.935 357.101C639.22 355.455 639.937 353.915 641.013 352.638C642.089 351.361 643.486 350.392 645.059 349.831C645.307 350.976 645.408 352.148 645.361 353.319Z' fill='%233F3D56'/%3e%3cpath d='M600.091 442.935C600.743 442.095 601.203 441.122 601.439 440.085C601.674 439.047 601.679 437.971 601.454 436.932C601.228 435.892 600.777 434.915 600.132 434.069C599.488 433.223 598.666 432.528 597.723 432.033L599.221 415.476L589.376 412.113L587.59 435.524C586.864 437.161 586.764 439.008 587.309 440.713C587.854 442.419 589.006 443.866 590.547 444.779C592.088 445.693 593.911 446.01 595.67 445.67C597.429 445.33 599.002 444.357 600.091 442.935Z' fill='%23FFB7B7'/%3e%3cpath d='M601.377 426.914L583.932 426.281L584.671 342.196C584.658 339.817 585.394 337.494 586.775 335.555C588.155 333.617 590.11 332.161 592.364 331.393C594.469 330.694 596.745 330.692 598.852 331.388C601.242 332.196 603.294 333.777 604.685 335.881C606.076 337.985 606.727 340.491 606.534 343.006L601.377 426.914Z' fill='%23CBCBCB'/%3e%3cpath d='M754.414 589H406.855C406.613 589 406.381 588.904 406.21 588.733C406.039 588.562 405.942 588.33 405.942 588.088C405.942 587.846 406.039 587.615 406.21 587.444C406.381 587.273 406.613 587.176 406.855 587.176H754.414C754.656 587.176 754.888 587.273 755.059 587.444C755.23 587.615 755.326 587.846 755.326 588.088C755.326 588.33 755.23 588.562 755.059 588.733C754.888 588.904 754.656 589 754.414 589Z' fill='%23CBCBCB'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: right;
	font-family: "Open Sans", sans-serif;
	font-style: italic;
	font-size: 64px;
	padding: 70px 130px;
}

.for-who__text a {
	display: flex;
	color: rgba(255, 255, 255, 0.7);
}

.for-who__text a:nth-child(2) {
	margin-left: 90px;
}

.for-who__text a:last-child {
	font-family: "Lato";
	font-weight: 1000;
	font-style: normal;
	font-size: 96px;
	color: white;
}

.content {
	text-align: center;
	font-size: 24px;
	margin-left: 40px;
}

.content__arrow1 {
	width: 67px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 67 159' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M33.2187 0.693988C10.4475 5.57493 -2.63384 64.2852 2.58403 102.369C6.69005 132.337 20.1454 153.856 37.0953 157.874C38.8478 158.289 66.2053 155.392 65.59 153.577C64.7346 151.053 57.8563 151.672 56.3143 150.755C55.8023 150.451 58.7175 149.176 60.2071 151.288C61.9314 153.732 56.0528 153.923 54.9808 154.74C53.2949 156.025 56.9438 156.228 57.3835 153.517' stroke='%23FFE1E1' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: left;
}

.content__text1 {
	width: 718.53px;
	padding-bottom: 70px;
	padding-left: 70px;
}

.content__arrow2 {
	width: 67px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='158' viewBox='0 0 54 158' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.87939 0.522212C24.1325 0.35753 49.5783 54.8441 52.726 93.1546C55.203 123.302 46.7391 147.223 31.0847 154.816C29.4661 155.601 2.17114 158.695 2.37851 156.79C2.66681 154.141 9.5056 153.255 10.8106 152.026C11.2438 151.618 8.12657 151.006 7.13098 153.389C5.97858 156.149 11.7503 155.062 12.9721 155.628C14.8935 156.518 11.3801 157.506 10.3654 154.954' stroke='%23FFE1E1' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: left;
}

.content__text2 {
	width: 710px;
	padding-bottom: 70px;
	margin-left: 150px;
}

.content__arrow3 {
	width: 67px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 67 159' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M33.2187 0.693988C10.4475 5.57493 -2.63384 64.2852 2.58403 102.369C6.69005 132.337 20.1454 153.856 37.0953 157.874C38.8478 158.289 66.2053 155.392 65.59 153.577C64.7346 151.053 57.8563 151.672 56.3143 150.755C55.8023 150.451 58.7175 149.176 60.2071 151.288C61.9314 153.732 56.0528 153.923 54.9808 154.74C53.2949 156.025 56.9438 156.228 57.3835 153.517' stroke='%23FFE1E1' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: left;
}

.content__text3 {
	width: 756px;
	margin-bottom: 70px;
	margin-left: 70px;
}

.useful {
	padding-bottom: 40px;
}

.useful__text {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #000000;
	padding-bottom: 40px;
}

.useful__drop {
	display: flex;
	padding-left: 100px;
}

.useful__natural {
	padding-top: 28.5px;
	margin-right: 100px;
	display: inline-block;
	width: 350px;
	height: 364px;
	background: #ffffff;
	border-radius: 14px;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}

.useful__legal-entity {
	padding-top: 28.5px;
	display: inline-block;
	width: 350px;
	height: 364px;
	background: #ffffff;
	border-radius: 14px;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #000000;
}

.natural__img img {
	width: 310px;
	height: 219px;
	margin-bottom: 10px;
}

.natural__text {
	margin: auto;
	width: 276px;
}

.legal-entity__img img {
	width: 310px;
	height: 219px;
	margin-bottom: 10px;
}

.legal-entity__text {
	margin: auto;
	width: 276px;
}

.how {
	margin: auto;
	width: 1029px;
	padding-top: 61px;
	padding-right: 61px;
	font-family: "Lato";
	color: black;
	background-color: white;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='160' height='109' viewBox='0 0 160 109' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M78.1087 54.512C78.1087 63.68 77.1247 71.624 75.1567 78.344C73.1887 85.064 70.4527 90.632 66.9487 95.048C63.4927 99.464 59.3647 102.752 54.5647 104.912C49.8127 107.072 44.6527 108.152 39.0847 108.152C33.5167 108.152 28.3567 107.072 23.6047 104.912C18.9007 102.752 14.8207 99.464 11.3647 95.048C7.90872 90.632 5.19672 85.064 3.22872 78.344C1.30872 71.624 0.34872 63.68 0.34872 54.512C0.34872 45.344 1.30872 37.4 3.22872 30.68C5.19672 23.96 7.90872 18.392 11.3647 13.976C14.8207 9.56 18.9007 6.29599 23.6047 4.18399C28.3567 2.024 33.5167 0.943996 39.0847 0.943996C44.6527 0.943996 49.8127 2.024 54.5647 4.18399C59.3647 6.29599 63.4927 9.56 66.9487 13.976C70.4527 18.392 73.1887 23.96 75.1567 30.68C77.1247 37.4 78.1087 45.344 78.1087 54.512ZM55.0687 54.512C55.0687 47.264 54.6127 41.336 53.7007 36.728C52.7887 32.072 51.5647 28.424 50.0287 25.784C48.5407 23.144 46.8367 21.344 44.9167 20.384C42.9967 19.376 41.0527 18.872 39.0847 18.872C37.1167 18.872 35.1727 19.376 33.2527 20.384C31.3807 21.344 29.7007 23.144 28.2127 25.784C26.7727 28.424 25.5967 32.072 24.6847 36.728C23.8207 41.336 23.3887 47.264 23.3887 54.512C23.3887 61.808 23.8207 67.76 24.6847 72.368C25.5967 76.976 26.7727 80.624 28.2127 83.312C29.7007 85.952 31.3807 87.776 33.2527 88.784C35.1727 89.744 37.1167 90.224 39.0847 90.224C41.0527 90.224 42.9967 89.744 44.9167 88.784C46.8367 87.776 48.5407 85.952 50.0287 83.312C51.5647 80.624 52.7887 76.976 53.7007 72.368C54.6127 67.76 55.0687 61.808 55.0687 54.512ZM151.272 86.84C153.672 86.84 155.568 87.512 156.96 88.856C158.352 90.152 159.048 91.88 159.048 94.04V107H85.32V99.8C85.32 98.408 85.608 96.92 86.184 95.336C86.76 93.752 87.768 92.312 89.208 91.016L119.448 60.56C122.04 57.968 124.296 55.496 126.216 53.144C128.136 50.792 129.72 48.488 130.968 46.232C132.216 43.928 133.152 41.648 133.776 39.392C134.4 37.088 134.712 34.664 134.712 32.12C134.712 27.944 133.704 24.752 131.688 22.544C129.72 20.288 126.696 19.16 122.616 19.16C119.304 19.16 116.496 20.048 114.192 21.824C111.936 23.552 110.376 25.712 109.512 28.304C108.504 30.944 107.184 32.696 105.552 33.56C103.92 34.424 101.592 34.616 98.568 34.136L86.76 32.048C87.528 26.816 88.992 22.256 91.152 18.368C93.36 14.48 96.072 11.24 99.288 8.648C102.552 6.05599 106.272 4.13599 110.448 2.88799C114.624 1.592 119.112 0.943996 123.912 0.943996C129.096 0.943996 133.752 1.712 137.88 3.24799C142.056 4.73599 145.608 6.82399 148.536 9.51199C151.464 12.2 153.696 15.416 155.232 19.16C156.816 22.856 157.608 26.936 157.608 31.4C157.608 35.24 157.056 38.792 155.952 42.056C154.896 45.32 153.432 48.44 151.56 51.416C149.688 54.344 147.504 57.2 145.008 59.984C142.56 62.72 139.944 65.504 137.16 68.336L116.64 89.36C119.28 88.544 121.896 87.92 124.488 87.488C127.08 87.056 129.48 86.84 131.688 86.84H151.272Z' fill='%2371AFF8' fill-opacity='0.1'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: 61px 61px;
}

.how__text {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
	font-size: 64px;
	padding: 70px 0px 30px 130px;
}

.how__text a {
	display: flex;
	color: rgba(113, 175, 248, 0.7);
}

.how__text a:last-child {
	margin-left: 90px;
}

.how__text-slogan {
	width: auto;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: #5f6d7d;
	font-size: 24;
	text-align: center;
	margin: auto;
	font-size: 24px;
	line-height: 159%;
	padding-bottom: 70px;
}

.activities__reg a {
	display: flex;
}

.activities__reg a:first-child {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #71aff8;
	padding: 0px 0px 30px 200px;
}

.activities__reg a:last-child {
	width: 978px;
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 159%;
	text-align: center;
	color: #717171;
	padding-bottom: 30px;
}

.activities__connect {
	margin: auto;
	text-align: center;
	width: 571px;
	height: 455px;
	background: #ffffff;
	box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.4);
	border-radius: 23px;
	padding-bottom: 50px;
}

.activities__connect-box a {
	width: 450px;
	height: 43px;
	font-family: "Lato";
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 43px;
	text-align: center;
	color: #020202;
}

.activities__phone {
	width: 529px;
	height: 75px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	border-radius: 14px;
}

.activities__list {
	color: #71aff8;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 36px;
	font-weight: 600;
	filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
	min-width: 529px;
	min-height: 75px;
	background-color: white;
	border-radius: 14px;
	margin-top: 60px;
	margin-bottom: 60px;
	box-sizing: border-box;
	border: 3px solid #71aff8;
}

.activities__link:hover {
	transition: 0.5s;
	background-color: #71aff8;
	filter: drop-shadow(0px 0px 13px #71aff8);
}

.activities__link:not(:hover) {
	transition: 0.5s;
}

.search {
	margin: auto;
}

.search__text {
	padding: 70px 0px 30px 130px;
}

.search__text a {
	display: flex;
}

.search__text a:first-child {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #71aff8;
	padding: 0px 0px 30px 70px;
}

.search__text a:nth-child(2) {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 159%;
	text-align: center;
	color: #717171;
}

.search__button {
	width: 776px;
	height: 334px;
	align-items: center;
	margin-left: 125px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='776' height='334' viewBox='0 0 776 334' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='404' cy='263' r='70' fill='%23B2D5FF'/%3e%3ccircle cx='382' cy='70' r='70' fill='%23BADAFF' fill-opacity='0.61'/%3e%3ccircle cx='336' cy='119' r='70' fill='%23BADAFF' fill-opacity='0.61'/%3e%3ccircle cx='645.5' cy='167.5' r='130.5' fill='%2371AFF8' fill-opacity='0.5'/%3e%3ccircle cx='130.5' cy='192.5' r='130.5' fill='%2371AFF8' fill-opacity='0.5'/%3e%3ccircle cx='92' cy='92' r='70' fill='%2394C5FF'/%3e%3ccircle cx='265.5' cy='61.5' r='46.5' fill='%2371AFF8' fill-opacity='0.54'/%3e%3ccircle cx='508.5' cy='247.5' r='50.5' fill='%2371AFF8' fill-opacity='0.2'/%3e%3ccircle cx='561.5' cy='55.5' r='46.5' fill='%2371AFF8' fill-opacity='0.74'/%3e%3ccircle cx='235.5' cy='181.5' r='46.5' fill='%2371AFF8' fill-opacity='0.55'/%3e%3ccircle cx='339' cy='212' r='70' fill='%237BB7FF' fill-opacity='0.47'/%3e%3ccircle cx='223' cy='264' r='70' fill='white' fill-opacity='0.58'/%3e%3ccircle cx='462' cy='172' r='70' fill='white' fill-opacity='0.43'/%3e%3ccircle cx='515' cy='98' r='70' fill='%2371AFF8' fill-opacity='0.51'/%3e%3ccircle cx='162' cy='193' r='51' fill='%2371AFF8' fill-opacity='0.61'/%3e%3ccircle cx='106' cy='184' r='44' fill='white' fill-opacity='0.43'/%3e%3ccircle cx='185' cy='60' r='51' fill='white' fill-opacity='0.62'/%3e%3ccircle cx='470.5' cy='61.5' r='61.5' fill='white' fill-opacity='0.5'/%3e%3ccircle cx='470.5' cy='61.5' r='61' stroke='%2371AFF8' stroke-opacity='0.24'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: auto;
}

.search__list {
	color: white;
	font-family: "Lato";
	font-size: 36px;
	font-weight: 600;
	filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
	min-width: 578px;
	min-height: 86px;
	background-color: #589bcc;
	border-radius: 18px;
	margin-left: 75px;
	margin-top: 80px;
}

.search__link:hover {
	transition: 0.5s;
	filter: drop-shadow(0px 0px 13px #589bcc);
}

.search__link:not(:hover) {
	transition: 0.5s;
}

.activites__join {
	width: 250px;
	height: 108px;
	margin: auto;
	text-align: center;
}

.activites__join a:first-child {
	width: 184px;
	height: 38px;
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 159%;
	color: #aaaaaa;
}

.activites__join-link {
	display: inline-flex;
	justify-content: space-between;
	width: 250px;
	height: 60px;
}

.activites__join-link a:first-child {
	width: 54px;
	height: 54px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d)'%3e%3crect x='4' y='4' width='46' height='46' fill='white'/%3e%3c/g%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M19.7178 29.5904L18.8198 32.943L15.5374 33.0124C14.5564 31.193 14 29.1113 14 26.8991C14 24.76 14.5202 22.7428 15.4424 20.9666H15.4431L18.3653 21.5023L19.6455 24.407C19.3775 25.1881 19.2315 26.0266 19.2315 26.8991C19.2316 27.8461 19.4031 28.7534 19.7178 29.5904Z' fill='%23FBBB00'/%3e%3cpath d='M39.5746 24.49C39.7227 25.2703 39.8 26.0762 39.8 26.8999C39.8 27.8234 39.7029 28.7243 39.5179 29.5933C38.8899 32.5504 37.2491 35.1325 34.976 36.9598L34.9753 36.9591L31.2946 36.7712L30.7736 33.5193C32.2819 32.6347 33.4607 31.2504 34.0816 29.5933H27.1836V24.49H34.1822H39.5746Z' fill='%23518EF8'/%3e%3cpath d='M34.9752 36.9599L34.9759 36.9606C32.7653 38.7375 29.957 39.8007 26.9 39.8007C21.9874 39.8007 17.7162 37.0549 15.5374 33.0141L19.7178 29.592C20.8072 32.4995 23.6119 34.5692 26.9 34.5692C28.3133 34.5692 29.6374 34.1871 30.7735 33.5201L34.9752 36.9599Z' fill='%2328B446'/%3e%3cpath d='M35.134 16.9698L30.955 20.3911C29.7791 19.6561 28.3891 19.2316 26.9 19.2316C23.5375 19.2316 20.6803 21.3962 19.6455 24.4079L15.4431 20.9674H15.4424C17.5893 16.8281 21.9144 14 26.9 14C30.03 14 32.8999 15.1149 35.134 16.9698Z' fill='%23F14336'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_d' x='0' y='0' width='54' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='2'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3e%3c/filter%3e%3cclipPath id='clip0'%3e%3crect width='25.8' height='25.8' fill='white' transform='translate(14 14)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
	background-repeat: no-repeat;
}

.activites__join-link a:nth-child(2) {
	display: inline-flex;
	width: 54px;
	height: 54px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d)'%3e%3crect x='4' y='4' width='46' height='46' fill='%235181B8'/%3e%3c/g%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M40.9067 33.1059C40.8283 32.9746 40.3434 31.9209 38.0099 29.7551C35.567 27.4872 35.8951 27.8555 38.8376 23.9341C40.6296 21.5459 41.3461 20.0875 41.1218 19.464C40.9085 18.8697 39.5905 19.0265 39.5905 19.0265L35.2079 19.052C35.2079 19.052 34.8834 19.0082 34.6409 19.1523C34.4057 19.2945 34.2544 19.6226 34.2544 19.6226C34.2544 19.6226 33.5598 21.4712 32.6337 23.0426C30.6812 26.3588 29.8991 26.5338 29.5801 26.3278C28.8381 25.8483 29.0241 24.399 29.0241 23.3708C29.0241 20.1568 29.5108 18.8168 28.0743 18.4704C27.5966 18.3556 27.2466 18.279 26.027 18.2663C24.4628 18.2498 23.1374 18.2717 22.3882 18.6382C21.8886 18.8824 21.504 19.4275 21.7392 19.4585C22.029 19.4968 22.6853 19.6354 23.0335 20.1094C23.4838 20.7201 23.4674 22.0947 23.4674 22.0947C23.4674 22.0947 23.7263 25.8775 22.864 26.3478C22.2715 26.6705 21.4602 26.0124 19.7192 23.0025C18.8277 21.4621 18.1532 19.7575 18.1532 19.7575C18.1532 19.7575 18.0238 19.4403 17.7922 19.2708C17.5115 19.0647 17.1177 18.9991 17.1177 18.9991L12.9502 19.0246C12.9502 19.0246 12.3249 19.0429 12.0952 19.3145C11.891 19.557 12.0788 20.0565 12.0788 20.0565C12.0788 20.0565 15.3421 27.6896 19.0356 31.5381C22.4246 35.0657 26.2713 34.8341 26.2713 34.8341H28.0141C28.0141 34.8341 28.541 34.7758 28.8089 34.4859C29.0569 34.2198 29.0478 33.7203 29.0478 33.7203C29.0478 33.7203 29.0131 31.3813 30.0997 31.0367C31.1698 30.6976 32.5444 33.2973 34.001 34.2982C35.1021 35.0547 35.9389 34.8888 35.9389 34.8888L39.8348 34.8341C39.8348 34.8341 41.8729 34.7084 40.9067 33.1059Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_d' x='0' y='0' width='54' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='2'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3e%3c/filter%3e%3cclipPath id='clip0'%3e%3crect width='29.1667' height='29.1667' fill='white' transform='translate(12 12)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
	background-repeat: no-repeat;
}

.activites__join-link a:nth-child(3) {
	display: inline-flex;
	width: 54px;
	height: 54px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='54' height='54' viewBox='0 0 54 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_d)'%3e%3crect x='4' y='4' width='46' height='46' fill='white'/%3e%3c/g%3e%3cg clip-path='url(%23clip0)'%3e%3cpath d='M31.3297 16.8152H33.9772V12.2042C33.5204 12.1414 31.9496 12 30.1202 12C26.3031 12 23.6882 14.401 23.6882 18.8138V22.875H19.476V28.0298H23.6882V41H28.8526V28.031H32.8945L33.5361 22.8762H28.8514V19.3249C28.8526 17.835 29.2538 16.8152 31.3297 16.8152Z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cfilter id='filter0_d' x='0' y='0' width='54' height='54' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3e%3cfeOffset/%3e%3cfeGaussianBlur stdDeviation='2'/%3e%3cfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3e%3cfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3e%3c/filter%3e%3cclipPath id='clip0'%3e%3crect width='29' height='29' fill='white' transform='translate(12 12)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
	background-repeat: no-repeat;
}

.create {
	padding-top: 60px;
	margin: auto;
}

.create h2 {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 159%;
	text-align: center;
	color: #717171;
}

.create__text a {
	display: flex;
}

.create__text a:first-child {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	color: #71aff8;
	padding: 0px 0px 30px 200px;
}

.create__text a:last-child {
	width: 978px;
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 159%;
	text-align: center;
	color: #717171;
	padding-bottom: 30px;
}

.create__list {
	color: #589bcc;
	font-family: "Lato";
	font-size: 36px;
	font-weight: 600;
	filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
	min-width: 529px;
	min-height: 75px;
	background-color: white;
	border-radius: 14px;
	margin-top: 60px;
	margin-bottom: 60px;
	box-sizing: border-box;
	border: 1px solid #a5a5a5;
	margin-left: 222.5px;
}

.create__link:hover {
	transition: 0.5s;
	filter: drop-shadow(0px 0px 13px #a5a5a5);
}

.create__link:not(:hover) {
	transition: 0.5s;
}

.questions {
	margin: auto;
	width: 1029px;
	padding-top: 61px;
	padding-right: 61px;
	font-family: "Lato";
	color: #ffffff;
	background-color: #71aff8;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='159' height='109' viewBox='0 0 159 109' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M78.1088 54.512C78.1088 63.68 77.1248 71.624 75.1567 78.344C73.1888 85.064 70.4528 90.632 66.9488 95.048C63.4928 99.464 59.3648 102.752 54.5648 104.912C49.8128 107.072 44.6528 108.152 39.0848 108.152C33.5168 108.152 28.3568 107.072 23.6048 104.912C18.9008 102.752 14.8208 99.464 11.3648 95.048C7.90875 90.632 5.19675 85.064 3.22875 78.344C1.30875 71.624 0.34875 63.68 0.34875 54.512C0.34875 45.344 1.30875 37.4 3.22875 30.68C5.19675 23.96 7.90875 18.392 11.3648 13.976C14.8208 9.56 18.9008 6.29599 23.6048 4.18399C28.3568 2.024 33.5168 0.943996 39.0848 0.943996C44.6528 0.943996 49.8128 2.024 54.5648 4.18399C59.3648 6.29599 63.4928 9.56 66.9488 13.976C70.4528 18.392 73.1888 23.96 75.1567 30.68C77.1248 37.4 78.1088 45.344 78.1088 54.512ZM55.0688 54.512C55.0688 47.264 54.6128 41.336 53.7008 36.728C52.7888 32.072 51.5648 28.424 50.0288 25.784C48.5408 23.144 46.8368 21.344 44.9168 20.384C42.9968 19.376 41.0528 18.872 39.0848 18.872C37.1168 18.872 35.1728 19.376 33.2528 20.384C31.3808 21.344 29.7008 23.144 28.2128 25.784C26.7728 28.424 25.5968 32.072 24.6848 36.728C23.8208 41.336 23.3888 47.264 23.3888 54.512C23.3888 61.808 23.8208 67.76 24.6848 72.368C25.5968 76.976 26.7728 80.624 28.2128 83.312C29.7008 85.952 31.3808 87.776 33.2528 88.784C35.1728 89.744 37.1168 90.224 39.0848 90.224C41.0528 90.224 42.9968 89.744 44.9168 88.784C46.8368 87.776 48.5408 85.952 50.0288 83.312C51.5648 80.624 52.7888 76.976 53.7008 72.368C54.6128 67.76 55.0688 61.808 55.0688 54.512ZM87.336 32.048C88.104 26.816 89.568 22.256 91.728 18.368C93.936 14.48 96.648 11.24 99.864 8.648C103.128 6.05599 106.848 4.13599 111.024 2.88799C115.2 1.592 119.688 0.943996 124.488 0.943996C129.672 0.943996 134.28 1.688 138.312 3.176C142.344 4.616 145.752 6.584 148.536 9.08C151.32 11.576 153.432 14.48 154.872 17.792C156.312 21.056 157.032 24.512 157.032 28.16C157.032 31.472 156.696 34.4 156.024 36.944C155.352 39.44 154.344 41.624 153 43.496C151.704 45.32 150.072 46.88 148.104 48.176C146.184 49.424 143.976 50.48 141.48 51.344C153.096 55.424 158.904 63.344 158.904 75.104C158.904 80.672 157.896 85.52 155.88 89.648C153.864 93.776 151.152 97.208 147.744 99.944C144.384 102.68 140.472 104.744 136.008 106.136C131.544 107.48 126.888 108.152 122.04 108.152C117.048 108.152 112.608 107.624 108.72 106.568C104.832 105.464 101.376 103.784 98.352 101.528C95.328 99.224 92.664 96.296 90.36 92.744C88.104 89.192 86.136 84.968 84.456 80.072L94.392 76.04C96.984 75.032 99.384 74.768 101.592 75.248C103.8 75.728 105.384 76.832 106.344 78.56C108.504 82.544 110.784 85.448 113.184 87.272C115.632 89.048 118.488 89.936 121.752 89.936C124.248 89.936 126.408 89.528 128.232 88.712C130.104 87.848 131.64 86.768 132.84 85.472C134.088 84.128 135.024 82.616 135.648 80.936C136.272 79.256 136.584 77.552 136.584 75.824C136.584 73.568 136.416 71.552 136.08 69.776C135.792 67.952 134.928 66.392 133.488 65.096C132.048 63.8 129.864 62.816 126.936 62.144C124.056 61.424 120.024 61.064 114.84 61.064V45.656C119.208 45.656 122.736 45.32 125.424 44.648C128.112 43.976 130.176 43.064 131.616 41.912C133.104 40.712 134.088 39.272 134.568 37.592C135.048 35.912 135.288 34.064 135.288 32.048C135.288 27.92 134.28 24.752 132.264 22.544C130.296 20.288 127.272 19.16 123.192 19.16C119.88 19.16 117.072 20.048 114.768 21.824C112.512 23.552 110.952 25.712 110.088 28.304C109.08 30.944 107.76 32.696 106.128 33.56C104.496 34.424 102.168 34.616 99.144 34.136L87.336 32.048Z' fill='white' fill-opacity='0.1'/%3e%3c/svg%3e ");
	background-repeat: no-repeat;
	background-position: 61px 61px;
}

.questions__text {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
	color: rgba(255, 255, 255, 0.7);
	font-size: 64px;
	padding: 70px 0px 30px 100px;
}

.questions__question {
	width: auto;
	padding-left: 100px;
}

.questions__question > span,
.questions__question > span::after {
	display: block;
	margin-left: 15px;
	position: absolute;
	width: 850px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.61);
}

.accordion {
	color: #ffffff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	font-size: 15px;
	transition: 0.4s;
	margin-top: 50px;
	font-family: "Lato";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	background-color: #71aff8;
	line-height: 29px;
}

.accordion:after {
	content: "+";
	color: #ffffff;
	font-weight: normal;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.panel {
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 40px;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel p {
	width: 700px;
	margin-top: 20px;
	margin-bottom: 40px;
}
